<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Registrar usuario</title>
</head>
<body>

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                       <div class="items-centered">
                           <div class="my-5">
                               <form th:action="@{'/savePerson}" method="post" th:object="${personobj}">
                                   <div class="mb-3">
                                       <label for="id" class="form-label" readonly>ID</label>
                                       <input type="text" class="form-control"
                                              id="id" name="id" th:field="*{id}">
                                   </div>
                                   <div class="mb-3">
                                       <label for="firstName" class="form-label">Nome</label>
                                       <input type="text" class="form-control"
                                              id="firstName" name="firstName" th:field="*{firstName}">
                                   </div>

                                   <div class="mb-3">
                                       <label for="lastName" class="form-label">Sobrenome</label>
                                       <input type="text" class="form-control"
                                              id="lastName" name="lastName" th:field="*{lastName}">
                                   </div>

                                   <div class="mb-3">
                                       <label for="years" class="form-label">Idade</label>
                                       <input type="number" class="form-control"
                                              id="years" name="years" th:field="*{years}">
                                   </div>

                                   <button type="submit" value="Save" class="btn btn-primary w-100">enviar</button>
                               </form>
                           </div>

                           <div class="my-5">
                               <form th:action="@{'/searchPerson}" method="post">
                                   <div class="mb-3">
                                       <label for="searchName" class="form-label">Pesquisar Nome</label>
                                       <input type="text" class="form-control"
                                              id="searchName" name="searchName">
                                   </div>


                                   <button type="submit" value="Search"
                                           class="btn btn-info w-100">Buscar</button>
                               </form>

                           </div>
                           <div class="my-3">
                               <a href="/listPerson">Listar Pessoas</a>
                           </div>
                           <div class="my-5">
                               <table class="table">
                                   <thead>
                                   <tr>
                                       <th scope="col">Id</th>
                                       <th scope="col">Nome</th>
                                       <th scope="col">Sobrenome</th>
                                       <th scope="col">Idade</th>
                                       <th scope="col"></th>
                                       <th scope="col"></th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr th:each = "person: ${persons}">
                                       <th th:text = "${person.id}" scope="row"></th>
                                       <td><a th:href="@{/telephone/{idPerson}(idPerson=${person.id})}"><span th:text = "${person.firstName}"></span></a></td>
                                       <td th:text = "${person.lastName}"></td>
                                       <td th:text = "${person.years}"></td>
                                       <td>
                                           <a th:href="@{/editPerson/{idPerson}(idPerson=${person.id})}"
                                              class="btn btn-info">Editar</a>
                                       </td>
                                       <td>
                                           <a th:href="@{/deletePerson/{idPerson}(idPerson=${person.id})}"
                                              class="btn btn-danger">Excluir</a>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
