<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Registrar usuario</title>
</head>
<body>

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="my-5">
                            <form action="savePerson">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Nome</label>
                                    <input type="text" class="form-control"
                                           id="firstName" name="firstName">
                                </div>

                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Sobrenome</label>
                                    <input type="text" class="form-control"
                                           id="lastName" name="lastName">
                                </div>
                                <button type="submit" value="Save" class="btn btn-primary">enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
